{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{# STYLES #}
{% block styles %}
   {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center">
        <div class="col-6">
            <h1>Login</h1>
            <form method="post">

                {% if error %}
                    <p class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                {% endif %}

                {% if app.user %}
                    <div>You are logged in as {{ app.user.firstname }}, <a href="{{ path('app_logout') }}">Logout</a></div>
                {% endif %}

                <div class="form-row">
                    <p><label for="inputEmail">Email address</label></p>
                    <input value="{{ last_username }}" name="email" type="email" id="inputEmail" autocomplete="email" required autofocus />
                </div>

                <div class="form-row">
                    <p><label for="inputPassword">Password</label></p>
                    <input type="password" name="password" id="inputPassword" class="form-control form-control-lg" autocomplete="current-password" required />
                </div>

                <button class="button w-100" type="submit">Login</button>

                <input class="w-100" type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
            </form>
            <p class>Don't have an account? <a href="{{ path('app_register') }}">Register here</a></p>
        </div>
    </div>
{% endblock %}
