{% extends 'base.html.twig' %}

{% block title %}Campains Listing
{% endblock %}

{# STYLES #}
{% block styles %}
	{{ encore_entry_link_tags('campains-listing') }}
{% endblock %}

{# SCRIPTS #}
{% block scripts %}
	{{ encore_entry_script_tags('campains-listing') }}
{% endblock %}

{% block body %}
	<div class="container campains-listing">
		<div class="row">
			<div class="col-2 menu">
				<ul>
					{% for item in menu %}
						<li class='{{ item.class }}'>
							<a href="{{ url(item.route) }}">{{ item.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-10">
				<div class="row">
					{% for campain in campains %}

						{% set checker = false %}
						{% set campainReg = "" %}

						{% for user_reg in app.user.campainRegistrations %}
							{% if user_reg.campain.id == campain.id %}
								{% set checker = true %}
								{% set campainReg = user_reg %}
							{% endif %}
						{% endfor %}

						<div class="col-4 ">
							{% include "_partials/card-campain.html.twig" %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
