{% extends 'base.html.twig' %}

{% block title %}Campains Listing
{% endblock %}

{# STYLES #}
{% block styles %}
	{{ encore_entry_link_tags('campains-listing') }}
{% endblock %}

{# SCRIPTS #}
{% block scripts %}
	{{ encore_entry_script_tags('campains-listing') }}
{% endblock %}

{% block body %}
	<div class="campaign container">
		<div class="row">
			<div class="col-3">
				<div class="campain__company-container">
					<p class="campain__company-container__title">{{ campain.company.name }}</p>
					{% if campain.company.image %}
						<img class="campain__company-container__image" src="{{ asset("/uploads/" ~ campain.company.image) }}" alt="">
					{% endif %}
					<p class="campain__company-container__content">{{ campain.company.description|raw }}</p>
				</div>
			</div>
			<div class="col-8 offset-1">
				<h3 class="campain__title">{{ campain.name }}</h3>
				<div class='campain__date text-small'>{{ campain.startDate|date("d/m/Y") }} - {{ campain.endDate|date("d/m/Y") }}</div>
				<p class="campain__description">{{ campain.description|raw }}</p>
				<div class="campain__product-container">
					<p class="campain__product-container__title">{{ campain.product.name }}</p>
					{% if campain.product.image %}
						<img class="campain__company-container__image" src="{{ asset("/uploads/" ~ campain.product.image) }}" alt="">
					{% endif %}
					<p class="campain__product-container__content">{{ campain.product.description|raw }}</p>
				</div>
				{% if already_asked %}
					<button class='button white'>You already asked for that campain</button>
				{% else %}
					<a href="?campain_id={{ campain.id }}&register=true" class='button register'>Ask to be a tester</a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
