{% extends 'base.html.twig' %}

{% block title %}Campains Listing
{% endblock %}

{# STYLES #}
{% block styles %}
	{{ encore_entry_link_tags('campains-listing') }}
{% endblock %}

{# SCRIPTS #}
{% block scripts %}
	{{ encore_entry_script_tags('campains-listing') }}
{% endblock %}

{% block body %}
	<div class="container campains-single">
		<div class="row">
			<div class="campain">
				<div class="title">
					<h2>{{ campain.name }}</h2>
					{% if already_asked %}
						<button class='button white'>You already asked for that campain</button>
					{% else %}
						<a href="?campain_id={{ campain.id }}&register=true" class='button register'>Ask to be a tester</a>
					{% endif %}
				</div>
				<small class='dates'>{{ campain.startDate|date("F j, Y") }}
					-
					{{ campain.endDate|date("F j, Y") }}</small>
				<div class="description">
					{{ campain.description|raw }}
				</div>
			</div>
			<div class="row product-company">
				{% if campain.product %}
					<div class="col-6 product">
						<div class="product-header">
							<div class="product-img">
								{% if campain.product.image %}
									<img src="{{ asset("/uploads/" ~ campain.product.image) }}" alt="">
								{% endif %}
							</div>
							<h4>{{ campain.product.name }}</h4>
						</div>
						<div class="description">
							{{ campain.product.description|raw }}
						</div>
					</div>
				{% endif %}
				{% if campain.company %}
					<div class="col-6 company">
						<div class="company-header text-center">
							<div class="company-img">
								{% if campain.company.image %}
									<img src="{{ asset("/uploads/" ~ campain.company.image) }}" alt="">
								{% endif %}
							</div>
							<h4>{{ campain.company.name }}</h4>
						</div>
						<div class="description">
							{{ campain.company.description|raw }}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
