{% extends 'base.html.twig' %}

{% block title %}Campains Listing
{% endblock %}

{# STYLES #}
{% block styles %}
	{{ encore_entry_link_tags('campains-listing') }}
{% endblock %}

{# SCRIPTS #}
{% block scripts %}
	{{ encore_entry_script_tags('campains-listing') }}
{% endblock %}

{% block body %}
	<div class="container campains-listing">
		<div class="row">
			<div class="col-2 menu">
				<ul>
					<li>
						<a href="{{ url("campains_listing") }}">All campains</a>
					</li>
					<li class='active'>
						<a href="{{ url("campains_subscribed_listing") }}">Subscribed campains</a>
					</li>
				</ul>
			</div>
			<div class="col-10">
				<div class="row">
					{% for campain in campains %}

						{% set checker = false %}
						{% set campainReg = "" %}

						{% for user_reg in app.user.campainRegistrations %}
							{% if user_reg.campain.id == campain.id %}
								{% set checker = true %}
								{% set campainReg = user_reg %}
							{% endif %}
						{% endfor %}

						<div class="col-4">
							<div class="card">
								<div class="card-header">
									<div class="company-img">
										{% if (campain.company) != "" %}
											{% if campain.company.image %}
												<img src="{{ asset("/uploads/" ~ campain.company.image) }}" alt="">
											{% endif %}
										{% endif %}
									</div>
									<h3>{{ campain.name }}</h3>
									<small>{{ campain.startDate|date("d-m-Y") }}
										-
										{{ campain.endDate|date("d-m-Y") }}</small>
								</div>
								<div class="card-body">
									{% if (campain.description) %}
										{{ campain.description|striptags|slice(0, 50) ~ '...' }}
									{% endif %}
									{% if checker == true %}
										{% if campainReg.status == 0 %}
											<span class='status pending'>Pending</span>
										{% elseif campainReg.status == 1 %}
											<span class='status accepted'>Accepted</span>
										{% elseif campainReg.status == 2 %}
											<span class='status completed'>Completed</span>
										{% elseif campainReg.status == 3 %}
											<span class='status refused'>Refused</span>
										{% endif %}

										<a class='white button' href="{{ url("campains_single") }}?campain_id={{ campain.id }}">See details</a>
									{% else %}
										<a class='register button' href="{{ url("campains_single") }}?campain_id={{ campain.id }}">Ask to be a tester</a>
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
